
# BEGIN All_404_marker_comment_image
RewriteOptions inherit
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule \.(gif|jpe?g|png|bmp) https://lifehoroscope.in/wp-content/uploads/2026/07/ChatGPT-Image-Jul-8-2026-12_44_34-PM-150x150.webp [NC,L]
</IfModule>
# END All_404_marker_comment_image
