/*============================THEME COLOR 1============================*/
.main-nav-container .menu-item:hover,
.main-nav-container .menu-item.current-menu-item,
.main-nav-container .menu-item.current-menu-ancestor,
.news .more-link,
.pagination .page_links > span:not([class]),
.cws_button,
input[type='submit'],
.cws_button.alt,
input[type='submit'].alt,
.cws-widget .tagcloud a:hover,
.ce_toggle.alt .accordion_title,
.pricing_table_column:hover .cols_wrapper .widget_wrapper,
.cws_milestone,
.cws_fa.alt,
a.icon_link:hover .cws_fa.alt,
a.icon_link:hover .cws_fa:hover, 
.page_title .title:before,
.cws_ourteam.single .social_links,
.cws_ourteam.single .social_links a:not(:first-child),
.cws_tweet,
.ce_tabs .tab.active,
.ce_accordion.third_style .accordion_section.active .accordion_title, 
.ce_toggle.third_style .accordion_section.active .accordion_title,
.cws_fa_wrapper:hover .cws_fa.alt,
.cws_fa.simple_icon.alt,
a.icon_link:hover .cws_fa_wrapper .cws_fa.alt,
.ce_title.und-title.themecolor .title-separators span::after,
.ce_tabs.vertical .tab.active,
.ce_accordion.second_style .accordion_section.active .accordion_title,
.ce_toggle.second_style .accordion_section.active .accordion_title,
.cws_portfolio_filter.fw_filter a:before,
.woocommerce .button, .cws-widget .button,  
.woocommerce-page .button, 
.woocommerce-tabs .comment_container img,
.woo_mini_cart .button,
.price_slider .ui-slider-handle,
.cws_button.cws_load_more:hover .button-icon,
.pagination .page_links>*:hover,
.pagination_load_more .page_links>*:hover,
.comment-body:hover .avatar_section:after,
.comments-area .comment-respond .comment-form input:focus,
.comments-area .comment-respond .comment-form textarea:focus,
form.wpcf7-form input[type="submit"]:hover,
.cws-widget #wp-calendar tbody td#today:before,
.scroll_block span.scroll_to_top,
.cws_ourteam .pic:hover .ourteam_alt_content .social_links,
.news .item.boxed_style.with_border,
.cws_portfolio.single.related .carousel_nav_panel .prev_section:hover .prev, 
.cws_portfolio.single.related .carousel_nav_panel .next_section:hover .next,
.cws_testimonials.single.related .carousel_nav_panel .prev_section:hover .prev, 
.cws_testimonials.single.related .carousel_nav_panel .next_section:hover .next,
.select2-container .select2-choice:hover,
.select2-container.select2-dropdown-open .select2-choice,
.select2-drop-active,
form.wpcf7-form input[type="text"]:focus,
form.wpcf7-form input[type="email"]:focus,
form.wpcf7-form input[type="url"]:focus,
form.wpcf7-form input[type="tel"]:focus,
form.wpcf7-form input[type="date"]:focus,
form.wpcf7-form textarea:focus,
form.wpcf7-form input.no-border[type="text"]:focus,
form.wpcf7-form input.no-border[type="email"]:focus,
form.wpcf7-form input.no-border[type="url"]:focus,
form.wpcf7-form input.no-border[type="tel"]:focus,
form.wpcf7-form input.no-border[type="date"]:focus,
form.wpcf7-form textarea.no-border:focus,
form.wpcf7-form input[type="checkbox"]:hover,
form.wpcf7-form input[type=checkbox]:checked,
form.wpcf7-form input[type="radio"]:hover,
form.wpcf7-form input[type=radio]:checked,
.comments-area .comment-respond .comment-form .submit:hover,
.tweets_carousel_header .follow_us,
.dropcap.dropcap_border,
.author_info img,
.cws_callout,
.pricing_table_column.active_table_column .widget_wrapper,
.woo_panel .gridlist-toggle a.active:before,
.woo_panel .gridlist-toggle a:hover:before,
.comments-area .comment-respond .comment-form .form-submit input,
.cws-widget .about_me .user_avatar.user_avatar_border img,
.news .item.sticky-post:hover,
.cws_vc_shortcode_cta .cta_button .cws_vc_shortcode_button:hover:before,
form.wpcf7-form input[type="submit"], form.wpcf7-form p input[type="submit"],
ul.products li.product .add_to_cart_button,
ul.products li.product .added_to_cart,
.cws-widget .cws_social_links .cws_social_link.round:nth-child(2n),
.product .summary form.cart .quantity ~ .single_add_to_cart_button:before,
.price_slider .ui-slider-handle:before,
.price_slider_wrapper .price_slider_amount .button:hover:before,
.price_slider_wrapper .price_slider_amount .button:before,
div.product #reviews #review_form #commentform .form-submit .submit:hover,
div.product #reviews #review_form #commentform .form-submit .submit:active,
div.product #reviews #review_form #commentform .form-submit .submit:focus,
.woocommerce .button:not(.add_to_cart_button),
.woocommerce-mini-cart__buttons.buttons a,
.scroll_block span.scroll_to_top,
.page_content > main .grid_row.cws_tribe_events #tribe-bar-form .tribe-bar-submit input[type=submit],
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar-nav td,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar-nav th,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td.tribe-events-has-events,
.tribe-mini-calendar-wrapper .tribe-mini-calendar th,
.page_content .tribe-mini-calendar td,
pre
{
	border-color: #theme-color-1#;
}

.site_header.with_background .main-nav-container .menu-item:hover,
.site_header.with_background .main-nav-container .menu-item.current-menu-ancestor,
.site_header.with_background .main-nav-container .menu-item.current-menu-item,
.site_header.with_background .main-nav-container .sub-menu .menu-item:hover,
.site_header.with_background .main-nav-container .sub-menu .menu-item.current-menu-ancestor,
.site_header.with_background .main-nav-container .sub-menu .menu-item.current-menu-item,
.mobile_nav .main-nav-container > .main-menu > .menu-item:hover,
.mobile_nav .main-nav-container > .main-menu > .menu-item.current-menu-ancestor,
.mobile_nav .main-nav-container > .main-menu > .menu-item.current-menu-item,
.mobile_nav .sub-menu .menu-item:hover,
.mobile_nav .sub-menu .menu-item.current-menu-ancestor,
.mobile_nav .sub-menu .menu-item.current-menu-item,
.header_nav_part.mobile_nav .main-nav-container .sub-menu .menu-item.back,
.news .post_info_box .date,
.pagination .page_links > span:not([class]),
.cws_button,
input[type='submit'],
.cws_button.alt:hover,
input[type='submit'].alt:hover,
.ce_accordion .accordion_title .accordion_icon:not(.custom):before,
.ce_accordion .accordion_title .accordion_icon:not(.custom):after,
.ce_accordion.third_style .accordion_title .accordion_icon:not(.custom):before, 
.ce_accordion.third_style .accordion_title .accordion_icon:not(.custom):after, 
.ce_toggle.third_style .accordion_title .accordion_icon:not(.custom):before, 
.ce_toggle.third_style .accordion_title .accordion_icon:not(.custom):after,
.ce_accordion.second_style .accordion_title .accordion_icon:not(.custom):before, 
.ce_accordion.second_style .accordion_title .accordion_icon:not(.custom):after, 
.ce_toggle.second_style .accordion_title .accordion_icon:not(.custom):before, 
.ce_toggle.second_style .accordion_title .accordion_icon:not(.custom):after,
.ce_accordion .accordion_section.active  .accordion_title .accordion_icon:not(.custom):before, 
.ce_accordion .accordion_section.active  .accordion_title .accordion_icon:not(.custom):after, 
.ce_toggle .accordion_section.active  .accordion_title .accordion_icon:not(.custom):before, 
.ce_toggle .accordion_section.active  .accordion_title .accordion_icon:not(.custom):after,
.cws_milestone.alt,
.cws_progress_bar .progress,
a.icon_link:hover .cws_fa.alt,
.tp-caption.aasana-main-slider-layer a:before,
#site_top_panel .cws_social_links .cws_social_link:hover,
#site_top_panel #top_social_links_wrapper .cws_social_links.expanded .cws_social_link:hover,
.copyrights_area .cws_social_links .cws_social_link:hover,
.ce_tabs:not(.border_less) .tab.active,
.cws_callout.alt-style .styling-border,
.aasana-new-layout .ourteam_item_wrapper .title_wrap + .desc:before,
.aasana-new-layout .title_wrap + .post_content:before,
.pricing_table_column:hover .btn_section .cws_button.alt,
.pricing_table_column.active_table_column .btn_section .cws_button.alt,
.aasana-new-layout .owl-pagination .owl-page.active,
div.wpcf7-response-output,
.ce_accordion.second_style .accordion_section.active .accordion_title,
.ce_toggle.second_style .accordion_section.active .accordion_title,
.ce_accordion.third_style .accordion_title .accordion_angle:before, 
.ce_toggle.third_style .accordion_title .accordion_angle:before,
.ce_accordion.third_style .accordion_title .accordion_angle:after, 
.ce_toggle.third_style .accordion_title .accordion_angle:after,
.ce_accordion.third_style .active .accordion_title,
.ce_toggle.third_style .active .accordion_title,
.ce_accordion.fourth_style .active .accordion_title .accordion_angle:before, 
.ce_toggle.fourth_style .active .accordion_title .accordion_angle:before,
.ce_accordion.fourth_style .active .accordion_title .accordion_angle:after, 
.ce_toggle.fourth_style .active .accordion_title .accordion_angle:after,
.pricing_table_column:hover .price_section .color-overlay,
.cws_callout .fill-callout,
.cws_divider.with-plus:after,
hr.with-plus:after,
ins,
mark,
.cws_ourteam .pic .hover-effect,
table thead,
.date-content,
.cws_vc_shortcode_cta .cta_button .cws_vc_shortcode_button:hover,
.dropcap.dropcap_fill,
.cws_vc_shortcode_cta .cta_button .cws_vc_shortcode_button,
.scroll_block .scroll_to_top:hover,
.cws_staff_post .post_social_links.cws_staff_post_social_links a:hover,
.page_footer.instagram_feed #sb_instagram .sbi_follow_btn a,
.cws_vc_shortcode_pricing_plan .pricing_plan_button,
.post_social_links_classes a:hover:after,
.comments-area .comment-respond .comment-form .form-submit input,
.tribe-mini-calendar-wrapper .tribe-mini-calendar th,
.cws-content .tribe-mini-calendar-nav + thead th, .cws-content .tribe-events-calendar thead th,
.tribe-this-week-events-widget .tribe-this-week-widget-header-date, .tribe-this-week-events-widget .this-week-today .tribe-this-week-widget-header-date, .tribe-this-week-events-widget .this-week-past .tribe-this-week-widget-header-date,
.pricing_plan_title,
ul.products li.product .add_to_cart_button,
ul.products li.product .added_to_cart,
.product .summary form.cart .quantity ~ .single_add_to_cart_button,
.cws-widget #wp-calendar td, .cws-widget #wp-calendar th,
.widget_shopping_cart_content .buttons .button,
.price_slider .ui-slider-range,
.price_slider .ui-slider-handle:before,
.woocommerce .button:not(.add_to_cart_button),.woocommerce .add_large_button,
.price_slider_wrapper .price_slider_amount .button,
.woo_mini-count span,
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger,
.woocommerce-mini-cart__buttons.buttons a,
body input[type="submit"],
.tribe-events-calendar thead th,
.tribe-events-calendar thead th:hover,
.page_content > main .grid_row.cws_tribe_events #tribe-bar-form .tribe-bar-submit input[type=submit],
.tribe-events-list .tribe-events-read-more,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar-nav td,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar-nav th,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td.tribe-events-has-events,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-events-has-events:hover,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-events-has-events:hover a:hover,
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present, 
.tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today,
.tribe-mini-calendar-list-wrapper .tribe-mini-calendar-event .list-date,
 ul.products li.product .add_to_cart_button:hover, ul.products li.product .added_to_cart:hover,
 .tribe-mini-calendar .tribe-mini-calendar-no-event,
 .tribe-mini-calendar td,
 .page_content .tribe-mini-calendar .tribe-events-othermonth,
 .page_content .tribe-mini-calendar thead th,
 table caption
{
	background-color: #theme-color-1#;
}

a,
ul.dot_style2 li:before,
.mobile_nav .main-nav-container .menu-item:hover>a,
.mobile_nav .main-nav-container .menu-item.current-menu-item>a,
.mobile_nav .main-nav-container .menu-item:hover>.button_open,
.mobile_nav .main-nav-container .menu-item.current-menu-ancestor>.button_open,
.mobile_nav .main-nav-container .menu-item.current-menu-item>.button_open,
.menu .menu-item.current-menu-ancestor>a,
.cws-widget .menu .menu-item:hover>.opener,
.cws-widget .menu .menu-item.current-menu-ancestor>.opener,
.cws-widget .menu .menu-item.current-menu-item>.opener,
.news .post_info_part .post_info .comments_link a:hover,
.news .more-link,
.cws_ourteam.single .social_links a:hover,
.news.single .post_categories span a:hover,
.news.single .post_tags span a:hover,
.news .post_categories>a:hover,
.news .media_part > .link span:hover,
.testimonial .quote .quote_link,
.pagination a:hover,
.pagination_load_more a:hover,
.cws_button.alt,
input[type='submit'].alt,
.cws-widget ul li>a:hover,
.parent_archive .widget_archive_opener:hover,
.cws-widget #wp-calendar caption,
.select2-drop .select2-results .select2-highlighted,
.ce_toggle .accordion_title:hover,
.ce_toggle.alt .accordion_title,
.cws_milestone,
.cws_fa.alt,
a.icon_link:hover .cws_fa,
.page_title .bread-crumbs .current,
.benefits_container .cws_textwidget_content .link a,
.ce_title a:hover,
.ce_accordion .active .accordion_title .accordion_icon.custom,
.ce_toggle .active .accordion_title .accordion_icon.custom,
.ce_accordion .active .accordion_title .accordion_angle,
.ce_toggle .active .accordion_title .accordion_angle,
.ce_accordion .accordion_title:hover .accordion_icon.custom,
.ce_toggle .accordion_title:hover .accordion_icon.custom,
.ce_accordion .accordion_title:hover .accordion_angle,
.ce_toggle .accordion_title:hover .accordion_angle,
.ce_accordion .accordion_section.active .accordion_title > span,
.ce_accordion .accordion_title:hover > span,
.cws-widget .cws_tweet .tweet_content:before,
.cws-widget .recentcomments:before,
.cws_callout .icon_section .cws_fa.alt:hover,
.aasana-new-layout .cws_portfolio_fw .title,
.carousel_nav_panel .prev,
.carousel_nav_panel .next,
.aasana-new-layout .comments-area .comment-respond .comment-form .submit:hover,
.five_style .accordion_section.active .accordion_title, 
.cws-widget .search-form:hover label:before,
.aasana-new-layout .cws-widget ul li>a:hover,
.aasana-new-layout .cws_img_frame:hover:after, 
.aasana-new-layout .gallery-icon:hover a:after,
.cws_fa.simple_icon.alt,
a.icon_link:hover .cws_fa.simple_icon.alt,
.aasana-new-layout .main-nav-container > .main-menu > .menu-item:hover > a,
.pricing_table_column:hover .btn_section .cws_button.alt:hover,
.pricing_table_column.active_table_column .btn_section .cws_button.alt:hover,
.custom_icon_style li>i.list_list,
.news .media_part .pic.link_post .link span:before,
.news .media_part > .testimonial .quote + .author,
.comments-area .required,
aside .cws-widget .cws_tweet:before,
.testimonial .author figcaption span,
.testimonial .quote:after,
.cws-widget #wp-calendar tfoot td#prev a:hover, 
.cws-widget #wp-calendar tfoot td#next a:hover,
.comments-area .comment-meta .author-name + .comment_date:before,
.cws-widget ul li:hover,
#site_top_panel form.search-form .search-field,
.site_name a:hover,
.date.new_style .date-cont>span.day,
.pic .links > *,
.cws_button:hover,
form.wpcf7-form input[type="submit"]:hover,
.cws-widget .tagcloud a:hover,
.cws-widget #wp-calendar tbody td#today,
.main-nav-container .menu-item.current-menu-ancestor>.button_open,
.header_nav_part:not(.mobile_nav) .main-nav-container .menu-item:hover > .button_open,
.main-nav-container .sub-menu .menu-item.current-menu-ancestor>a,
.main-nav-container .menu-item.current-menu-item>.button_open,
.cws-widget .post_item .post_title a:hover,
.cws_button.alt,
.cws_button.read-more,
.scroll_block span.scroll_to_top,
.cws_ourteam .pic:hover .ourteam_alt_content .title_wrap .title,
.ourteam_item_wrapper .ourteam_alt_content .social_links a:hover,
.cws_portfolio_filter.fw_filter a.active,
.cws_portfolio_filter.fw_filter a:hover,
.cws_portfolio_filter.fw_filter a:not(:first-child):before,
.cws_portfolio_fw .cws_portfolio_header .ce_title,
.cws_portfolio.single .title h3,
.gallery .gallery-item:hover .caption,
.cws_testimonials.single.related .carousel_nav_panel .prev_section:hover .prev, 
.cws_testimonials.single.related .carousel_nav_panel .next_section:hover .next,
.cws_testimonials.single.related .carousel_nav_panel .prev_section:hover .prev, 
.cws_testimonials.single.related .carousel_nav_panel .next_section:hover .next,
.site_header .menu-bar:hover,
.select2-container .select2-choice:hover .select2-arrow,
.select2-container.select2-dropdown-open .select2-choice .select2-arrow,
input[type=checkbox]:checked:before,
input[type=radio]:checked:before,
input[type="submit"]:hover,
.cws-widget ul li.rss-block cite,
.tweets_carousel_header .follow_us,
.dropcap,
.cws-widget .widget_archive_opener.active,
.cws-widget .opener.active,
.cws_testimonials.single .cws_testimonials_items .title h3,
.scroll_block span.scroll_to_top:hover:after,
p > i,
.news .comments_link>a:hover,
.cws_portfolio_items .item .desc_part .categories a:hover,
.cws-widget ul.category_list li span.post_count:hover,
.cws-widget .about_me .user_name,
#site_top_panel .side_panel_icon:hover,
body.side_panel_show .side_panel_icon,
.woo_panel .gridlist-toggle a.active:before,
.woo_panel .gridlist-toggle a:hover:before,
.site_header .search_menu_cont .search_back_button:hover,
#site_top_panel .lang_bar a:hover,
.copyrights_panel .lang_bar a:hover,
.header_container .menu_left_icons a:hover,
.header_container .menu_right_icons a:hover,
#site_top_panel.active_social .social-btn-open,
#site_top_panel .social-btn-open:hover,
#site_top_panel .main-nav-container .menu-item:hover>a,
#site_top_panel .lang_bar:hover a.lang_sel_sel,
.news .post_category a,
.cws-widget #wp-calendar tbody td#today a,
.info span.post_author a:hover,
.decent-comments .comment .comment-body:hover,
.category-images .grid .item .category-wrapper .category-label-wrapper .category-label,
blockquote:before,
.news .media_part .carousel_nav.prev span,
.news .media_part .carousel_nav.next span,
.cws_portfolio_items .post_info.outside .title_part a:hover,
.header_zone #site_top_panel .side_panel_icon:hover,
.header_zone #site_top_panel .main-nav-container .main-menu > .menu-item > a:hover,
ol li:before,
.header_container .header_zone .menu_right_icons .cart_list a,
.header_container .header_zone .cart_list a,
.cws_portfolio.single.related .carousel_nav_panel .prev:hover,
.cws_vc_shortcode_cta .cta_button .cws_vc_shortcode_button:hover,
.cws_portfolio.single.related .carousel_nav_panel .next:hover,
.cws_staff_post .post_social_links.cws_staff_post_social_links a:hover,
.tribe_events_posts_grid .date_thumb div,
.comments-area .comment-respond .comment-form .form-submit:hover input,
.price .amount,
ul.products li.product .add_to_cart_button:hover,
ul.products li.product .added_to_cart:hover,
.product .summary form.cart .quantity ~ .single_add_to_cart_button:hover,
.cws-widget .cws_social_links .cws_social_link:nth-child(2n),
.widget_shopping_cart_content .buttons .button:hover,
.price_slider_wrapper .price_slider_amount .button:hover,
.post_excerpt.single_posts_classes,
.under_img .cws_portfolio_post_terms a,
.button:not(.add_to_cart_button):hover,
.add_large_button:hover,
#place_order:hover,
.shop_table.cart input[name="update_cart"]:hover,
.woocommerce .cart-collaterals .wc-proceed-to-checkout a:hover,
.scroll_block span.scroll_to_top:before,
.cws_button:hover,
.cws_button.pink:hover,
.header_container .header_zone .woocommerce-mini-cart__buttons.buttons a:hover,
.tribe-events-list-event-date div,
div.product #reviews #review_form #commentform .form-submit .submit:hover,
.sticky_header .woocommerce-mini-cart__buttons.buttons a:hover,
.tribe-events-list .tribe-events-read-more:hover,
.content_ajax .cws_portfolio_post_terms a,
.posts_grid  > .cws_vc_shortcode_load_more:hover,
.posts_grid .aligning_more .cws_vc_shortcode_load_more:hover,
.page_content > main .grid_row.cws_tribe_events #tribe-bar-form .tribe-bar-submit input[type=submit]:hover,
 ul.products li.product .add_to_cart_button, ul.products li.product .added_to_cart
{
	color: #theme-color-1#;
}

.search_icon:hover,
#site_top_panel.show-search .search_icon,
.aasana-new-layout #site_top_panel .cws_social_links .cws_social_link:hover,
.aasana-new-layout #site_top_panel #top_social_links_wrapper .cws_social_links.expanded .cws_social_link:hover,
.aasana-new-layout .copyrights_area .cws_social_links .cws_social_link:hover,
.cws_callout:not(.customized) .cws_button.alt:hover,
a.woo_icon:hover
{
	color: #theme-color-1# !important;
}
.ce_accordion .accordion_content:before,
.ce_toggle .accordion_content:before{
	border-bottom-color: #theme-color-1#;
}

.ce_tabs .tab:before,
.item .date.new_style .date-cont>span.day:before {
	border-top-color: #theme-color-1# !important;
}
.ce_toggle.alt .accordion_title{
	box-shadow: inset 0 0 0 1px #theme-color-1#;
}
.cws_divider.with-plus:before,
.cws_divider.with-plus:after,
hr.with-plus:before,
hr.with-plus:after {
	box-shadow: 200px 0 0 #theme-color-1#, -200px 0 0 #theme-color-1#;
}

blockquote,
ul.triangle_style li:before{
	border-left-color: #theme-color-1#;
}

#cws_page_loader:before{
	border-bottom-color: #theme-color-1#;
	border-left-color: #theme-color-1#;
}
ul.triangle_style li span.list-triangle .svg-triangle g path,
ul.hexagon_style li span.list-hexagon .svg-hexagon g path,
.cws_fa:hover span.container-hexagon svg.svg-hexagon g path,
.cws_fa.alt span.container-hexagon svg.svg-hexagon g path,
.scroll_block span.scroll_to_top svg g path.outer{
	stroke: #theme-color-1#;
}

.scroll_block span.scroll_to_top:hover svg g path.inner{
	fill: #theme-color-1#;
	stroke: #theme-color-1#;
}


/*============================THEME COLOR 2============================*/
/*#be5656;*/
.comments-area a#cancel-comment-reply-link,
.comments-area .comment-meta .comment-edit-link:hover,
.cws_portfolio_items .item .desc_part .categories a:hover,
.category-images .grid .item .category-wrapper .category-label-wrapper .category-label:hover,
.news.dark-theme .pic .links a:hover,
.news.gradient-theme .pic .links a:hover,
.cws_portfolio_items .categories a:hover,
.cws_portfolio_fw .cats a:hover,
.news.single .post_categories span a:hover,
.news.single .post_tags span a:hover,
.date_ev_single_classes,
.cws-widget .cws_social_links .cws_social_link:nth-child(3n),
.single_classes .post_date_meta,
.author_info .author_description a.author_link:hover
{
	color: #theme-color-2#;
}

aside.side_panel.dark-theme .mobile_menu_hamburger.close_side_panel:hover span::before,
aside.side_panel.dark-theme .mobile_menu_hamburger.close_side_panel:hover span::after,
.mobile_menu_hamburger.close_side_panel:hover span::before,
.mobile_menu_hamburger.close_side_panel:hover span::after{
	background-color: #theme-color-2#;
}

.author_info img:hover,
.cws-widget .cws_social_links .cws_social_link.round:nth-child(3n){
	border-color: #theme-color-2#;
}

/*============================SECONDARY COLOR 3============================*/
/*#be5656;*/
.news .button_cont a:hover,
.news .item .post_info .info:before,
.news .item .post_info .info,
.sl-icon:before,
.comments_link,
.news a:hover,
.info span.post_author a:hover,
.news .comments_link>a:hover,
.comments_link i,
.sl-count,
.info span.post_author a,
.cws_service_item .cws_service_icon,
ul.bullets-list li:before,
.news.single .item > .post_meta .social_share a:hover,
.post_meta .social_share a:hover,
.tribe-this-week-events-widget .tribe-this-week-widget-horizontal .entry-title,
.tribe-this-week-events-widget  .tribe-this-week-widget-horizontal .entry-title a,
.widgettitle,
div.search_wrapper:before,
.woocommerce .woocommerce-tabs .tabs li a,
.widget.widget_recent_comments ul li:before,
.cws_staff_post_title.posts_grid_post_title,
#mc_embed_signup .mc-field-group ~ .clear input:hover,
.cws-widget .woocommerce-product-search .screen-reader-text:before,
.cws-widget .cws_social_links .cws_social_link,
table.shop_table.woocommerce-checkout-review-order-table>tfoot .order-total td,
table.shop_table.woocommerce-checkout-review-order-table>tfoot .order-total th,
.mobile_menu li .menu_row:active a,
.mobile_menu li.active>.menu_row a,
.mobile_menu li .menu_row:active .button_open,
.mobile_menu li.active>.menu_row>.button_open:before,
.post_post_info > .post_meta .social_share a:hover,
#tribe-events-content .tribe-event-duration:before,
#tribe-events-footer .tribe-events-sub-nav li a, #tribe-events-header .tribe-events-sub-nav li a,
#tribe-events-content .tribe-event-duration:hover:before,
#tribe-events-footer .tribe-events-sub-nav li a:hover, 
#tribe-events-header .tribe-events-sub-nav li a:hover, 
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a:hover,
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a:hover,
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a,
.like,
.mobile_menu .menu-item.current-menu-parent>.menu_row>a,
.mobile_menu .menu-item.current-menu-item .cws_megamenu_item_title,
.mobile_menu .menu-item.current-menu-item>.menu_row>a
{
	color: #theme-color-3#;
}
.news div.post_category a:hover, .news div.post_tags a:hover,
.posts_grid.cws_portfolio_posts_grid .post_wrapper:hover .pic:before,
.pagination .page_links .page-numbers.current:before,
.pagination .page_links > span:not([class]):before,
.cws_vc_shortcode_button,
input[type='submit'],
button,
.cws_vc_shortcode_button.alt.add_hover:hover,
.vc_toggle .vc_toggle_icon:before, .vc_toggle .vc_toggle_icon:after,
.vc_tta.vc_general.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:before, 
.vc_tta.vc_general.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:after,
.cws_vc_shortcode_pb_progress,
.controls_square .owl-pagination .owl-page.active:before,
.controls_round .owl-pagination .owl-page.active:before,
.owl-pagination .owl-page.active:before,
.owl-pagination .owl-page.active:before,
.cws_vc_shortcode_cta,
.cws_vc_shortcode_pricing_plan  .pricing_plan_price_wrapper,
.cta_offer + .cta_banner .cws_vc_shortcode_cta_banner,
.cws_img_frame:before, .gallery-icon a:before,
.main-nav-container .sub-menu .menu-item>a:before,
.post_format_quote_media_wrapper .cws_vc_shortcode_module .quote_bg_c,
blockquote,
.single .news .quote-wrap .quote_bg_c,
.news .button_cont a,
#mc_embed_signup .clear,
#mc_embed_signup .mc-field-group ~ .clear input,
.shop_table.cart .actions .coupon [name='apply_coupon'],
.woocommerce .checkout_coupon input[name="apply_coupon"],
.menu .menu-item.current-menu-item>a:before,
.header_cont .menu-item.current-menu-parent .current-menu-item>a:before,
.banner_404:before,
.news .btn-read-more a,
.portfolio_item_post .side_load .load_bg,
.single_staff_wrapper .post_terms a:hover,
.wpcf7-response-output.wpcf7-mail-sent-ok,
.header_container .header_zone .woocommerce-mini-cart__buttons.buttons a + a,
.mc4wp-form .mc4wp-form-fields > p + p,
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover,
.sticky_header .woocommerce-mini-cart__buttons.buttons a + a,
 .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
 .page_content > main .grid_row.cws_tribe_events #tribe-events-bar,
  .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a
{
	background-color: #theme-color-3#;
}
.news .button_cont a:before,
.cws_vc_shortcode_button.alt:before,
.vc_toggle .vc_toggle_icon,.comments-area .comment_list .comment-reply-link
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon,
.cws_sc_carousel .prev,.cws_sc_carousel .next,
.select2-dropdown,
#mc_embed_signup .mc-field-group ~ .clear input,
.woocommerce .woocommerce-tabs .tabs li.active,
input:focus, textarea:focus,
input:active, textarea:active,
input:hover, textarea:hover,
.button:not(.add_to_cart_button),
.add_large_button,
.select2-container .select2-selection--single:hover,
.select2-container .select2-selection--single:focus,
.select2-container .select2-selection--single:active,
.select2-container .select2-selection--single,
.woocommerce .checkout_coupon input[name="apply_coupon"],
.cws-widget .cws_social_links .cws_social_link.round,
.shop_table.cart .actions .coupon [name='apply_coupon'],
.mobile_menu_container,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.header_container .header_zone .woocommerce-mini-cart__buttons.buttons a + a,
.sticky_header .woocommerce-mini-cart__buttons.buttons a + a,
.cws_hotspot  .cq-hotspots .hotspot-item a,
.sticky_header .main-nav-container .main-menu > .menu-item>a:before, 
.sticky_header .main-nav-container .main-menu > .menu-item>span:before,
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover,
.cws_vc_shortcode_button:before, input[type='submit']:before, button:before{
	border-color: #theme-color-3#;
}

.cws_vc_shortcode_button.add_hover:hover,input[type='submit']:hover,
.cws_vc_shortcode_button.alt,
.vc_toggle .vc_toggle_title > h4,
.vc_tta.vc_general.vc_tta-accordion .vc_tta-panel-title > a > *,
.cws_vc_shortcode_pb .pb_bar_title,
.cws_sc_carousel .prev:before,
.cws_sc_carousel .next:before,
.tab_content_classes,
.related_classes.single_classes .tab_content_classes,
.discount_gifts_cards,
.main-nav-container .sub-menu .menu-item>a:hover,
.posts_grid.tribe_events_posts_grid .entry-title,
.posts_grid.tribe_events_posts_grid .entry-title a,
.duration.time:before,
.post_meta .social_share a,
.duration.venue:before,
span.comments-count,
.sl-icon:hover:before,
.comments_link:hover,
.comments_link:hover i:before,
.sl-button:hover *,
.sl-button:hover .sl-icon:before,
.news.single .item > .post_meta .social_share a,
.comment_info_header .comment-meta .author-name,
.comments-area .comment-meta .comment_info,
.vc_tta.vc_general.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-controls-icon.vc_tta-controls-icon-plus,
.tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title a,
.tribe-nav-label,
.tribe-this-week-nav-link.nav-next .tribe-nav-label + span:after,
.tribe-this-week-nav-link.nav-previous span:not(.tribe-nav-label):before,
form.wpcf7-form > div:not(.wpcf7-response-output)>p, form.wpcf7-form > div:not(.wpcf7-response-output)>label,
.woo_product_post_title.posts_grid_post_title a,
.cws-widget .post_item .post_date,
.cws-widget .product_list_widget li > a,
.woocommerce-checkout h3,
.woocommerce-message a, .woocommerce-info a, .woocommerce-error a, .myaccount_user a, .woocommerce-thankyou-order-failed,
table.shop_table.cart .cart_item .product-name a, table.shop_table.cart .cart_item .product-thumbnail a,
#top_panel_woo_minicart, .woocommerce .button, .shop_table.cart .coupon .button:hover, .woocommerce .checkout-button:hover, .checkout_coupon input[name="apply_coupon"]:hover, #top_panel_woo_minicart .buttons .button:hover, #top_panel_woo_minicart .buttons .button.checkout:hover, h3.woo_product_post_title a, .woocommerce .cart_totals h2, .woocommerce-checkout h3,
.checkout_coupon input[name="apply_coupon"]:hover,
.woocommerce .cart-collaterals .cart_totals .order-total td,
.menu .menu-item.current-menu-item>a,
.header_cont .menu-item.current-menu-parent .current-menu-item>a,
.news .btn-read-more a:hover,
.event-is-recurring:hover,
.tribe-events-schedule h2:hover,
.tribe-events-single ul.tribe-related-events .tribe-related-events-title,
.tribe-events-single ul.tribe-related-events .tribe-related-events-title a,
.tribe-related-event-info:hover,
.header_container .header_zone .woocommerce-mini-cart__buttons.buttons a + a:hover,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type=submit]:hover
.tribe-events-button:hover, 
.tribe-events-button.tribe-active:hover, 
.tribe-events-button.tribe-inactive:hover, 
.tribe-events-button:hover, 
.tribe-events-list .tribe-event-schedule-details:before,
.tribe-events-list .tribe-events-venue-details:before,
.tribe-events-list-event-title a,
.header_cont .menu-item.current-menu-ancestor .current-menu-ancestor>a,
.sticky_header .woocommerce-mini-cart__buttons.buttons a + a:hover,
table.shop_table.cart .cart_item td:before,
button:hover{
	color: #theme-color-3#;
}
ul li:before, .owl-pagination .owl-page.active, .aasana-new-layout .cws_ourteam.single .social_links a:hover, .cws_fa_wrapper .ring, .cws_fa.bordered_icon.simple_icon, .cws_fa_wrapper:hover .cws_fa.alt + .ring, a.icon_link:hover .cws_fa_wrapper .cws_fa.alt + .ring, .news .media_part .pic.link_post .link span:before{
	-webkit-box-shadow: 0px 0px 0px 1px #theme-color-3#;
    -moz-box-shadow: 0px 0px 0px 1px #theme-color-3#;
    box-shadow: 0px 0px 0px 1px #theme-color-3#;
}

.owl-pagination .owl-page ,.owl-pagination .owl-page.active{
	-webkit-box-shadow: 0px 0px 0px 3px #theme-color-3#;
    -moz-box-shadow: 0px 0px 0px 3px #theme-color-3#;
    box-shadow: 0px 0px 0px 3px #theme-color-3#;	
}

 .div_title.standard_color .svg_lotus, .div_title.standard_color .svg_lotus svg{
 	fill: #theme-color-3#;
 }
 .div_title.standard_color svg path,
 .div_title.standard_color svg line{
    fill: transparent;
    stroke: #theme-color-3#;
    stroke-opacity: .7;
 }